body {
  /* background-image: url("/New-Portfolio/assets/images/background.jpg"); */
  background-color: #ccefff;
  background-size: cover;
  background-repeat: no-repeat;
}
img {
  transition: filter 0.8s ease-in-out;
  -webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  /* filter: grayscale(0%); FF 35+ */
}

img:hover {
  -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(100%); /* FF 35+ */
  -webkit-transform: scale(1.01);
}
p {
  margin: 5px;
}
.main-container {
  margin: auto;
}
.row {
  margin-top: 40px;
}
.social-media {
  display: block;
  text-align: center;
  margin-bottom: 15px;
}
#email-form {
  display: block;
  text-align: center;
}
#brand-statement {
  font-size: 28px;
  color: black;
  font-weight: bolder;
  text-shadow: 1px 1px 1px white;
  font-family: "Amatic SC", cursive;
  text-align: center;
}
#hrLine {
  margin: auto;
}
#profile-picture {
  margin: 40px auto 25px auto;
  border-radius: 120px;
}
#email {
  width: 200px;
  margin: auto;
  border-radius: 25px;
  text-align: center;
}
#message {
  width: 400px;
  margin-top: 5px;
  margin: auto;
  border-radius: 25px;
  text-align: center;
}
#send {
  width: 100px;
  margin: auto;
  border-radius: 105px;
}
#resume{
    color: black;
}
.title-row {
  font-size: xx-large;
  color: black;
  text-shadow: 1px 1px 1px white;
  font-weight: 700;
  font-family: "Amatic SC", cursive;
  display: block;
  text-align: center;
}
.sub-title-row {
  font-size: xx-large;
  color: black;
  text-shadow: 1px 1px 1px white;
  font-weight: 700;
  font-family: "Amatic SC", cursive;
  display: block;
  text-align: center;
  margin-top: 101px;
}
.formCSS {
  font-family: "Amatic SC", cursive;
  color: black;
  font-weight: bolder;
  text-shadow: 1px 1px 1px white;
  font-size: 24px;
  margin: 5 auto;
}
.form-boxes {
  text-align: center;
}
#particles-js {
  border-radius: 290px !important;
  width: auto;
  height: 275px;
  z-index: 1;
  position: absolute;
  border-radius: 290px;
}
.tomMargin {
  margin: auto !important;
  font-family: "Amatic SC", cursive;
  color: black;
  font-weight: 700;
  text-shadow: 1px 1px 1px white;
  font-size: x-large;
}

.card-img-top {
  border-radius: 290px;
  width: auto;
  height: 275px;
  z-index: 2;
}
.card-title {
  text-align: center;
  font-family: "Amatic SC", cursive;
  color: black;
  font-weight: 700;
  text-shadow: 1px 1px 1px white;
  font-size: x-large;
}

.card {
  background-color: transparent;
  border-radius: 290px;
  border: 0px;
}
.particles-js-canvas-el {
  border-radius: 290px;
}
